<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Issuer user:</strong>
  <%= @ticket.issuer_user_id %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @ticket.assigned_to_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ticket.category_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ticket.priority_id %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @ticket.due_date %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
