,<div class="row">
  <div class="col-md-10 col-sm-10 col-md-offset-1">
    <%= form_for(User.new, url: create_user_admin_settings_path, method: 'post', remote: true, id: "create_new_user") do |f| %>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Create User</legend>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control" , placeholder: "First name"%>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" , placeholder: "Last name"%>
        </div>
        <div class="form-group">
          <%= f.label :mobile_no %>
          <%= f.text_field :mobile_no, class: "form-control" , placeholder: "Mobile number"%>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" , placeholder: "Email"%>
        </div>
        <div class="form-group">
          <%= f.label :user_type %>
          <%= f.select :user_type_id, UserType.where.not(code: "CUSTOMER").collect {|user_type| [ user_type.name, user_type.id ] }, class: "form-control" , placeholder: "Mobile number"%>
        </div>
        <div class="actions">
          <%= f.submit "Create", class: "btn-primary", id: "submit_new_user" %>
        </div>
        <fieldset>
    <% end %>
  </div>
</div>
