  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 admin-button">
      <div class="card admin-button" > 
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%=link_to "Manage Users", manage_users_admin_settings_path %></li>
		  </ul> 
		</div>
    </div> 
    <div class="col-xs-6 col-sm-4 col-md-3 admin-button">
      <div class="card admin-button" > 
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%=link_to "Manage Tickets", tickets_admin_settings_path %></li>
		  </ul> 
		</div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 admin-button">
      <div class="card admin-button" > 
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%=link_to "Manage Roles", "javascript:void(0)" %></li>
		  </ul> 
		</div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 admin-button">
      <div class="card admin-button" > 
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%=link_to "Manage User Types", "javascript:void(0)" %></li>
		  </ul> 
		</div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 admin-button">
      <div class="card admin-button" > 
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%=link_to "Manage Ticket Category", "javascript:void(0)" %></li>
		  </ul> 
		</div>
    </div>
        <div class="col-xs-6 col-sm-4 col-md-3 admin-button">
      <div class="card admin-button" > 
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%=link_to "Manage Ticket Priority", "javascript:void(0)" %></li>
		  </ul> 
		</div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 admin-button">
      <div class="card admin-button" > 
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%=link_to "Manage Ticket Status", "javascript:void(0)" %></li>
		  </ul> 
		</div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 admin-button">
      <div class="card admin-button" > 
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%=link_to "Manage Policy", "javascript:void(0)" %></li>
		  </ul> 
		</div>
    </div>   
  </div>